@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);

html {
	font-size: 62.5%;
}

body {
	font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
	background-color: lightgray;
	padding: 15px 30px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
a:hover {
	color: white;
}
a:active {
	background-color: dimgray;
}

button {
	color: white;
	background-color: rgb(60, 60, 60);
	font-size: 2em;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
button:hover {
	color: lightgray;
}

.title {
	font-size: 2.5em;
	margin-top: 25px;
	margin-bottom: 50px;
}

#explanationForTextSelection {
	font-size: 1.6em;
	margin-bottom: 20px;
}

#textList {
	margin-bottom: 20px;
}

#textList a {
	display: block;
	font-size: 25px;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 15px;
}

@media screen and (max-width: 480px) {
	#textList a {
		width: 70%;
		max-width: 300px;
	}
}

.textTitle {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

#text {
	font-size: 1.8em;
	overflow: scroll;
	max-width: 700px;
	margin: 0 auto;
}

.controller {
	margin-top: 25px;
	margin-bottom: 20px;
}

#model {
	height: 50px;
}

#modelStr {
	font-size: 1.5em;
	color: DarkSlateGray;
}

#connecting {
	display: none;
	font-size: 1.7em;
	color: DarkSlateGray;
	height: 50px;
}

#canvas {
	display: none;
	height: 50px;
}

#visualizedSound {
	width: 70%;
	max-width: 600px;
	height: 100%;
}

#timer {
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 10px;
}

#button button {
	padding: 15px 50px;
}

#variableButton {
	display: none;
}

#redoButton {
	display: none;
	margin-top: 5px;
}

#inputForm {
	display: none;
	margin-bottom: 0px;
}

#textarea {
	margin: 0 auto;
}

#textarea textarea {
	font-size: 1.6em;
	width: 100%;
	max-width: 700px;
	height: 115px;
}

#checkButton {
	margin-top: 10px;
}

#checkButton button {
	padding: 15px 80px;
}

#toTop a {
	font-size: 1.7em;
	padding: 15px 25px;
}

#headerToTop {
	position: fixed;
	top: 30px;
	left: 20px;
}

#footerToTop {
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 15px;
}

#resultTitle {
	margin-bottom: 10px;
}

#resultStr {
	font-size: 1.8em;
}

#result {
	font-size: 1.8em;
	overflow: scroll;
	max-width: 700px;
	margin: 0 auto;
}

.miss {
	color: red;
}

#resultInfo {
	margin-top: 10px;
}

#explanationForMistakes {
	font-size: 1.3em;
}

#accuracyRate {
	font-size: 1.8em;
	margin-top: 20px;
}

#pdfButton button {
	padding: 15px 70px;
}

#linkOnResult {
	margin-top: 20px;
}

#linkOnResult a {
	display: inline-block;
	font-size: 1.6em;
	width: 150px;
}

@media screen and (max-width: 480px) {
	#linkOnResult a {
		display: block;
		margin: 0 auto;
		margin-bottom: 5px;
	}
}
